<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio Kendall Duran</title>


</head>

<body>
  <nav class="navbar fixed-top navbar-light bg-light nav-backgorund">
    <div class="container-fluid">
      <div class="justify-content-end w-100">
        <a class="navbar-brand nav-link" href="#about-me">Acerca de mí</a>
        <a class="navbar-brand nav-link" href="#projects">Mis Proyectos</a>
        <a class="navbar-brand nav-link" href="#mission-vision">Mision/Vision</a>
        <a class="navbar-brand nav-link" href="#habilities">Habilidades</a>

      </div>

    </div>
  </nav>

  <div id="about-me" class="container-section align-center background-gradient-dark-purple width-100">

    <div class="row">
      <p class="litle-text color-light-khaki">Ingeniero de Software</p>
      <h1 class="big-title color-light-khaki">Kendall Duran Valerio</h1>
      <button class="main-button"> Mi CV</button>
    </div>

  </div>

  <div id="about-me" class="container-section background-gradient-dark-violet container width-100">

    <div class="width-50 center-element">
      <div class="image-container">
        <img src="../assets/astronaut1.webp" alt="">

      </div>
    </div>

    <div class="width-50 center-element">
      <div class="row">
        <h1 class="big-title text-align-center color-light-khaki">Acerca de mí </h1>
        <p class="paragrap-text color-light-khaki"> Inicialmente formado e instruido en otras áreas del conocimiento,
          sin embargo la vida misma me ha devuelto a una de mis pasiones, la tecnología. Instruido de pequeño en la
          escuela San Francisco, luego formado en un de los mejores colegios de Heredia como lo es el Colegio
          Claretiano, para posteriormente sacar una licenciatura en ingeniería civil en la mejor universidad del país
          como lo es la UCR y culminar en una de las instituciones más reconocidas a nivel nacional en el campo
          tecnológico con la Universidad Cenfotec. </p>
      </div>
    </div>

  </div>

  <div id="mission-vision" class="container-section background-gradient-salmon width-100">

    <div class="width-50 center-element">
      <div class="row">
        <h1 class="big-title text-align-center color-coffee">Misión </h1>
        <p class="paragrap-text text-align-center color-coffee"> Convertir las ideas de los clientes en softwares
          funcionales y eficientes, entregándoles productos que superen sus expectativas, que hagan que la experiencia
          de la navegación web sea placentera y que facilite sus labores día con día. </p>
      </div>
    </div>

    <div class="width-50 center-element">
      <div class="row">
        <h1 class="big-title text-align-center color-coffee">Visión </h1>
        <p class="paragrap-text text-align-center color-coffee"> Distinguirse en el mercado del desarrollo de software
          con soluciones innovadoras y distintas. Ser referente a nivel nacional en el desarrollo web, convirtiéndose en
          uno de los principales nombres que influyen positivamente en la comunidad tecnológica de Costa Rica. </p>
      </div>
    </div>
  </div>

  <div id="habilities" class="container-section background-gradient-khaki width-100 ">

    <div class="width-33 ">

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Lenguajes de programación:</h3>
          <ul>
            <p>Javascript y TypeScript: intermedio</p>
            <p>Java: básico </p>
            <p>C#: básico </p>
            <p>C++: básico </p>
          </ul>
        </div>
        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Frameworks:</h3>

          <ul>
            <p>Angular: intermedio</p>
            <p>React: intermedio </p>
            <p>React Native: intermedio </p>
            <p>Flutter: básico </p>
            <p>Node Js: básico </p>
          </ul>
        </div>
        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>



    </div>
    <div class="width-33 ">

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Base de datos:</h3>


          <ul>
            <p>SQL Server: intermedio</p>
            <p>MySQL: básico </p>
            <p>MongoDB: básico </p>
            <br>
          </ul>
        </div>

        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Desarrollo y control de versiones:</h3>
          <ul>
            <p>Git: básico</p>
          </ul>
        </div>
        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>



    </div>

    <div class="width-33 ">

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Otras habilidades:</h3>

          <ul>
            <p>Scrum y metodologías ágiles: básico</p>
            <p>Desarrollo de APIs REST: básico </p>
            <p>UI/UX: básico cierto manejo de FIgma Figma</p>
            <br>
          </ul>
        </div>
        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>

      <div class="container width-100 margin-bottom-5">
        <div class="width-70 text-align-end">
          <h3>Contenerización:</h3>
          <ul>
            <p>Docker: básico </p>
            <p>Kubernetes: básico </p>

          </ul>
        </div>
        <div class="width-30  align-center">
          <img src="../assets/pngwing.com.png" class="responsive-icon ">
        </div>
      </div>



    </div>

  </div>

  <div id="projects" class="container-section backgorund-gradien-light-blue width-100 container-corousel">
    <app-carousel ></app-carousel>
  </div>


  <div id="projects" class="container-section background-gradient-coffee width-100">

    <div class="card card1">
      <h3 class="text-tittle">Pet Hotel</h3>
      <p class="paragrap-text">Plataforma de un hotel para mascotas, el cual permite llevar a cabo reservaciones y comprar alguno de los paquetes vacionales que el hotel ofrece.Acá se lleva un registro de todos sus visitantes, seguimiento de aspectos ambientales a los que se encuentran las mascotas hospedadas para asegurar un confort y salud de los consentidos del hogar</p>
    </div>
    <div class="card card1">
      <h3 class="text-tittle">Voiage</h3>
      <p class="paragrap-text">El proyecto Voiage nace como una necesidad de los turistas de tener una guía informativa sobre detalles generales en el planeamiento de un viaje. Pretende ser ua plataforma para hacer cálculos más acertados de costos asociados a tiquetes aéreos, comida, hospedaje u otros detalles.</p>
    </div>
    <div class="card card1">
      <h3 class="text-tittle">Movies Review</h3>
      <p class="center-element paragrap-text">App movil desarrollada en React Native como parte del aprendizaje de un curso en la plataforma de UDEMY. El curso es impartido por el costarricense Fernando Herrera. Dentro de esta se puede ver reseñas de peliculas en cartelera a la fecha, películas destacadas y mejores calificadas  </p>
    </div>
  </div>




</body>

</html>